/* My default styles—a bit of a reset and a bit of a normalization, based on 
["A Modern CSS Reset" by Josh W. Comeau](https://www.joshwcomeau.com/css/custom-css-reset/).
Remember to use `*property*:revert` to return specific elements to browser defaults. 
Use `@import url("./cobbland-style.css");` to import into the default stylesheet.
(Note: Nothing is done to fix apple product specific problems; y'all are on your own.) */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5; /* This requires customizing the line height for larger text. */
    font-family: system-ui;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6, div, span {
    overflow-wrap: break-word;
}

p, span {
    text-wrap: pretty; /* May have a performance impact. */
}

h1, h2, h3, h4, h5, h6, div {
    text-wrap: balance;
}

/* End default styles. */

*:root {
    --accent: #1992D4;
    --accent-dim: #1992D466;
    --main: #E2E8F0;
    --accent-text: white;
    --accent-text-dim: #ffffffcc;
    --main-text: #000000bb;
    --main-text-dim: #00000033;
    --warning: #D22B2B;
    --to-read: #F0B429;
    --am-reading: #00A86B;
    --have-read: #1992D4;
}

html,
body {
    height: 100%;
    color: var(--main-text);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main);
}

header {
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: auto;
    box-shadow: 0px 3px 5px var(--main-text-dim);
    z-index: 1;
}


div.logo {
    color: var(--accent-text);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    gap: 0.2em;
    align-items: center;
    transition: 0.3s;
}

div.logo svg {
    fill: var(--accent-text);
    text-align: center;
    display: block;
    transition: 0.3s;
}

div.logo:hover,
div.logo svg:hover {
    color: var(--accent-text-dim);
    fill: var(--accent-text-dim);
    cursor: pointer;
}

.add-book {
    background-color: var(--accent-text);
    border-radius: 20px;
    display: block;
    padding: 0.5em 1em;
    border: 0;
    height: max-content;
    color: var(--accent);
    fill: var(--accent);
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    gap: 0.5em;
    align-items: center;
    box-shadow: 1px 1px 5px var(--main-text-dim);
    outline: none;
}

.add-book:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 5px var(--main-text-dim);
}

.add-book:active {
    box-shadow: inset 1px 1px 5px 2px var(--main-text-dim);
}

footer {
    background-color: var(--accent);
    padding: 1rem;
    margin-top: 1.5em;
}

footer p {
    color: var(--accent-text);
    text-align: center;
}

.search-sort {
    margin: auto;
    width: 100%;
    padding: 1.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-sort svg {
    fill: var(--main-text-dim);
    transition: 0.3s;
}

.search-sort svg:hover {
    fill: var(--main-text);
    cursor: pointer;
}

.sort {
    right: 1em;
    position: absolute;
}

.search-sort input {
    border: 0;
    border-radius: 20px;
    outline: none;
    padding: 0.5em 1em;
    box-shadow: inset 1px 1px 5px var(--main-text-dim);
    font-size: 1.1em;
    margin: auto;
    width: min(75%, 375px);
}

.search-sort input:focus {
    box-shadow: inset 1px 1px 5px 2px var(--main-text-dim);
}

.search-sort input::placeholder {
    color: var(--main-text-dim);
}

.container {
    background-color: var(--main);
    padding: 1rem;
    width: 100%;
    height: 100%;
    min-height: max-content;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, min(300px, 100%));
    grid-auto-rows: 375px;
    justify-content: center;
    align-content: center;
}

.book {
    background-color: var(--accent-text);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--main-text-dim);
    display: grid;
    grid-template-rows: 4fr 2fr 2fr 2fr 1fr;
    border-left: 13px solid var(--main-text-dim);
    transition: 0.3s;
    color: var(--main-text-dim);
    outline: none;
}

.book:hover,
.book:active,
.book:focus {
    box-shadow: 1px 1px 5px 2px var(--main-text-dim);
    color: var(--main-text);
}

.have-read:hover,
.have-read:active,
.have-read:focus {
    border-left: 13px solid var(--have-read);
}

.to-read:hover,
.to-read:active,
.to-read:focus {
    border-left: 13px solid var(--to-read);
}

.am-reading:hover,
.am-reading:active,
.am-reading:focus {
    border-left: 13px solid var(--am-reading);
}

.book .book-title {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}

.book div {
    font-size: 1.2em;
}

.book-buttons {
    align-self: end;
    justify-self: end;
    fill: var(--main-text-dim);
    transition: 0.3s;
}

.book-buttons:hover {
    cursor: pointer;
}

.edit-book,
.delete-book {
    transition: 0.3s;
    padding-left: 0.7em;
}

.edit-book:hover {
    fill: var(--accent);
}

.delete-book:hover {
    fill: var(--warning);
}

dialog {
    background-color: var(--accent-text);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--main-text-dim);
    color: var(--main-text);
    outline: none;
    width: min(375px, 100%);
    height: min(450px, 100%);
    margin: auto;
    border: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 2fr;
    align-items: center;
}

dialog > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

dialog:not([open]) {
    display: none;
}

::backdrop {
    backdrop-filter: blur(5px);
}

dialog h2 {
    text-align: center;
}

dialog label {
    font-weight: bold;
}

dialog input[type='text'],
dialog input[type='tel'] {
    border: 0;
    border-radius: 20px;
    outline: none;
    padding: 0.3em 1em;
    box-shadow: inset 1px 1px 5px var(--main-text-dim);
    font-size: 1.1em;
    margin: 0;
    width: min(75%, 375px);
}

dialog input[type='text']:focus,
dialog input[type='tel']:focus {
    box-shadow: inset 1px 1px 5px 2px var(--main-text-dim);
}

.read-status-div {
    border: 0;
    padding-left: 0;
}

.read-status-div legend {
    font-weight: bold;
}

.read-status-div label {
    font-weight: unset;
}

.read-status-div > div {
    display: inline;
    margin-right: 0.5em;
}

.buttons {
    display: flex;
    justify-content: space-around;
    grid-row: 6 / 7;
}

dialog button {
    border-radius: 20px;
    display: block;
    padding: 0.5em 1em;
    border: 0;
    height: max-content;
    color: var(--accent-text);
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 1px 1px 5px var(--main-text-dim);
    outline: none;
    width: 120px;
}

.add {
    background-color: var(--am-reading);
}

.cancel {
    background-color: var(--warning);
}

dialog button:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 5px var(--main-text-dim);
}

dialog button:active {
    box-shadow: inset 1px 1px 5px 2px var(--main-text-dim);
}